ENV=local
DEBUG=False
SECRET_KEY=<secret-key>

ALLOWED_HOSTS=127.0.0.1,localhost,<ip-publica>,<ec2-public-dns>
ADMIN_URL=admin/
MAX_UPLOAD_SIZE_MB=5

AWS_REGION=us-east-1
AWS_S3_BUCKET=<bucket-name>
S3_PREFIX=images/